body {
    background: #36362C;
    color: #E6D4A7;
}

.container-fluid {
    max-width: 600px;
}

h1 {
    font-size: 40px;
    text-align: center;

}

label {
    font-size: 16px;
}

input {
    margin: 5px 4px 5px 0;
}

#searchfield {
    color: #000;
    width: 75%;
    height: 29px;
}

#submitbtn {
    background-color: #825534;
    font-size: 15px;
    color: #e6d4a7;
    margin-top: 0;
    border-color: #482E1A;
}

#footnote {
    margin: 3px 0;

}

.trimResult {
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px 18px;
    margin: 2px 0;
    background: #5D917D;
    color: #E6D4A7;
}

.headline {
    font-size: 24px;
    font-weight: 600;
}

.trim {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.engine,.transmission {
    font-size: 18px;
}
